.caixa{
    background-color: gray;
    color: black;
    padding: 5px;
    
}

.caixa div {
    margin-top: 8px;
    color: white;
    border-radius: 10px;    
    background-color: rgba(44, 40, 40, 0.747);
    border: 2px solid transparent;
    padding: 2px;
    margin-left: 3px;

}
.caixa div:hover{
    border: 2px solid white;   


}

.caixa div > div{

    background-color: dodgerblue;
    transition: 1s;
    width: 45%;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;

}
.caixa div > div:hover{
    transition: 1s;
    width: 90%;
}
.caixa div {
    margin-top: 8px;
    color: white;
    border-radius: 10px;    
    background-color: rgba(44, 40, 40, 0.747);
    border: 3px solid transparent;
    padding: 2px;
    margin-left: 3px;
    margin: 10px;

}
